<head>
    <link rel="stylesheet" href="styles/header/header.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb amber lighten-4 rounded-0 bg-dark text-light">
        <a>Vous êtes ici <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;
        </a>

        <% for(let i = 0; i < breadcrumb.length; i ++) { %>
            <% if(breadcrumb[i].path === current_path) { %> 
                <li class="breadcrumb-item"><span class="<%= breadcrumb[i].path === current_path ? 'black-text active' : 'black-text' %>" href="<%= breadcrumb[i].path %>"><%= breadcrumb[i].name %></span></li>
            <% } else { %>
                <% if(breadcrumb[i].action === "logout") { %> 
                    <li class="breadcrumb-item" onclick="Breadcrumb_.log()"><a class="<%= breadcrumb[i].path === current_path ? 'black-text active' : 'black-text' %>" href="<%= breadcrumb[i].path %>"><%= breadcrumb[i].name %></a></li>
                <% } else { %>
                    <li class="breadcrumb-item"><a class="<%= breadcrumb[i].path === current_path ? 'black-text active' : 'black-text' %>" href="<%= breadcrumb[i].path %>"><%= breadcrumb[i].name %></a></li>
                <% } %>
            <% } %>
        <% } %>

    </ol>
</nav>

<script src="javascripts/breadcrumb/breadcrumb.js" type="text/javascript"></script>